body {
  padding: 20px;
}

#exps {
  .nav button {
    float: right;
    // background: #cce;
    //  padding: 3px;
    &.ebtn {
      font-size: 10px;
    }
  }
  height: 1000px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #ddd;
  margin-right: 20px;
}

.exptype {
  font-size: 20px;
}

.exptype-primary {
  color: #337ab7;
}

.exptype-warning {
  color: #f0ad4e;
}

.exptype-default {
  color: #444;
}

table {
  td, th {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 0px ! important;
    &.name {
      width: 180px;
    }
    &.done {
      //      background: #3cb371;
    }
  }
  thead {
    text-align: center;
  }
  span.glyphicon {
    // width: 50px;
    // height: 30px;
    cursor: pointer;
    &:hover {
      background: pink;
    }

    &.ebtn {
      width: 50px;
      font-size: 10px;
    }
    &.ebtn.edit {
      width: 30px;
      float: right;
    }
  }
  button {
    font-size: 14px ! important;
    padding: 0px;
    &.late {
      background: red ! important;
      font-weight: bold ! important;
    }
    &.coming {
      background: rgb(255, 145, 0) ! important;
      border: 1px #df000f solid;
    }
  }
  tbody tr:nth-child(odd) {
    background: #eee;
  }
}

#chat_history {
  width: 600px;
  height: 300px;
  //  background: #;
}

#chat_enter {
  width: 600px;
  height: 60px;
}

#progress {
  width: 1100px;
  height: 300px;
}

button.undo {
  height: 40px;
  width: 40px ! important;
  margin: 0px 2px;
}

table td {
  border: 0px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

button.do {
  padding: 10px 15px;
  margin: 0px;
}

table small {
  color: #666;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1.0; /*透明度100%*/
  }
  to {
    opacity: 0.8; /*透明度80%*/
  }
}

.blinking {
  -webkit-animation-name: pulse; /* 実行する名前 */
  -webkit-animation-duration: 2s; /* 0.3秒かけて実行 */
  -webkit-animation-iteration-count: infinite; /* 何回実行するか。infiniteで無限 */
  -webkit-animation-timing-function: ease-in-out; /* イーズインアウト */
  -webkit-animation-direction: alternate; /* alternateにするとアニメーションが反復 */
  -webkit-animation-delay: 0s; /* 実行までの待ち時間 */
}


#guide {
  width: 100%;
//  height: 400px;
  font-size: 30px;
}

body.guide {
//  background: #6208e6;
}

@keyframes blink {
  50% { opacity: 0.0; }
}
@-webkit-keyframes blink {
  50% { opacity: 0.0; }
}


.step-coming {
  //  animation: blink 1s step-end infinite;
  //  -webkit-animation: blink 1s step-end infinite;
  color: #ff9505;
}

.step-late {
//  animation: blink 1s step-end infinite;
//  -webkit-animation: blink 1s step-end infinite;
  color: #ff9505;
}

.step-late2 {
  //  animation: blink 1s step-end infinite;
  //  -webkit-animation: blink 1s step-end infinite;
  color: red;
}